<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to NFLPool</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center; height: 160px;"
    ><a href="https://nflpool.xyz/"><img
            src="http://paulcutler.org/files/trophy2.png"
            style="height: 160px;"
    /></a></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>

        <div>
            Congratulations {email}, thank you for registering with NFLPool!  If the NFL season hasn't already
            started, it's not too late to make your picks.  New to NFLPool?
            <a href="https://nflpool.xyz/home/rules">Read the rules.</a>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <a href="https://nflpool.xyz/picks/submit_picks"
               style="font-weight: bold; text-decoration: none; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;border-radius: 4px;color: #FFF;background: #5CB85C none;border-color: #4CAE4C;"
            >Make Your Picks</a>
        </div>
        <br>
        <br>

                <br>
                Good luck and have fun this season!<br>
                Paul Cutler<br>
                Commissioner, NFLPool<br>
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>